<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bench.bms.infra.repository.mapper.RulePoMapper">

    <resultMap id="ruleResultMap" type="com.bench.bms.infra.repository.entity.RulePo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="warnId" column="warn_id" jdbcType="INTEGER"/>
        <result property="warnName" column="warn_name" jdbcType="VARCHAR"/>
        <result property="batteryType" column="battery_type" jdbcType="VARCHAR"/>
        <result property="warnRule" column="warn_rule" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectRules" resultMap="ruleResultMap">
        select * from WarningRules;
    </select>

    <select id="selectRulesBySignal" resultMap="ruleResultMap" parameterType="com.bench.bms.domain.model.SignalDo">
        SELECT * FROM WarningRules
        WHERE warn_id = #{warnId} AND battery_Type = (
        SELECT battery_Type FROM carInfo
        WHERE car_number = #{carId}
        );
    </select>
</mapper>
