<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bench.bms.mapper.CarMapper">

    <resultMap id="bookResultMap" type="com.bench.bms.entity.Car">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="vId" column="vid" jdbcType="VARCHAR"/>
        <result property="carNumber" column="car_number" jdbcType="INTEGER"/>
        <result property="batteryType" column="battery_type" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectAllCars" resultType="com.bench.bms.entity.Car">
        select * from carInfo;
    </select>

</mapper>